* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.h1 {
  display: inline;
}

.h2 {
  text-align: center;
}

body {
  margin: 0;
  background: url(/img/cream_dust.png) repeat 0 0;
  font-size: 18px;
}

/* Navigation bar styling */
.topnav {
  overflow: hidden;
  background-color: rgb(7, 107, 201);
}

/* Navigation bar links styling */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  font-size: 20px;
  padding: 22px 24px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the content */
.intro {
  background-color: rgb(255, 255, 255);
  padding: 10px;
  height: 200px; 
  text-align: center;
  padding-bottom: 300px;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.lifecycle {
  background-color: rgb(194, 225, 255);
  padding: 30px;
}

.attack_lifecycle{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  border-radius: 8px;
}

.belowlifecycle {
  background-color: rgb(194, 225, 255);
  padding: 30px;
}

.tips_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 8px;
  }
  
.redirect {
  background-color: rgb(194, 225, 255);
  padding: 30px;
}

.tip {
    background-color: rgb(7, 107, 201);
    padding: 30px;
    color: white;
  }
